.input-range-video {
    -webkit-appearance: none;
    appearance: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    background-color: var(--surface-alt-color);
    height: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid var(--border-color);
}

input[type="range"]::-moz-range-track {
    background-color: var(--surface-alt-color);
    height: 0.5rem;
    border: 1px solid var(--border-color);
}

input[type="range"]::-webkit-slider-thumb {
    margin-top: calc((0.5rem/2) - (1rem/2));
    height: 1.2rem;
    width: 0.6rem;
    border-radius: 0.1rem;
    background-color: var(--accent-color);
    border: 1px solid var(--border-color);
}

input[type="range"]::-moz-range-thumb {
    border: none;
    border-radius: 0.1rem;
    background-color: var(--accent-color);
    height: 1.2rem;
    width: 0.6rem;
    border: 1px solid var(--border-color);
}
