:root {
    --image-video-height: 40vh;
}

.single-site-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.single-site-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px 0px;
    width: 90%;
}

.to-all-button,
.view-mode,
.prev-site,
.next-site,
.arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    height: 30px;
}

.to-all-button {
    width: 15%;
    background-color: #fabe00;
    margin: 0 1vw;
    font-size: clamp(0.5rem, 2.2vw, 1.2rem);
}

.view-mode {
    width: 10%;
    background-color: #123456;
    color: whitesmoke;
    margin: 0 1vw;
    font-size: clamp(0.5rem, 2.5vw, 1.2rem);
}

.prev-site,
.next-site {
    height: 30px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    background-color: whitesmoke;
    width: 40%;
    font-size: clamp(0.3rem, 1.5vw, 1rem);
    line-height: 1.1;
    font-weight: bold;
}

.arrows {
    margin: 0 5px;
    width: 10%;
}

.spacer {
    width: 5%;
}
.single-site-container button {
    height: 30px;
}

h2 {
    width: auto;
    height: 5vh;
    display: flex;
    align-items: center;
}

input[type="range"] {
    vertical-align: middle;
    width: 50vw;
}

input[name="date"] {
    accent-color: #fabe00;
}

input[name="photo"] {
    accent-color: #fabe00;
}

input[name="video"] {
    accent-color: #fabe00;
}

span {
    font-size: 1.2em;
    vertical-align: middle;
}

.input-range-label {
    display: inline-block;
    width: 8vw;
    text-align: center;
    font-size: clamp(0.5rem, 2vw, 1rem);
}

.input-range-value {
    display: inline-block;
    text-align: center;
    width: clamp(4rem, 11vw, 7rem);
    font-size: clamp(0.5rem, 2vw, 1rem);
    cursor: pointer;
}

hr {
    width: 100%;
    color: grey;
    size: 3;
}

.photo-container {
    height: var(--image-video-height);
}

.photo-container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.selector-container {
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 800;
}

.video-container {
    height: var(--image-video-height);
}

.video-container video {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.date-control-button {
    cursor: pointer;
    user-select: none;
    width: clamp(1rem, 1vw, 2rem);
    padding: 5px;
    margin-left: 1vw;
    margin-right: 1vw;
    display: inline-block;
    border-radius: 5px;
    background-color: #fabe00;
    text-align: center;
    font-weight: 800;
    font-size: clamp(0.5rem, 0.8vw, 1rem);
}

.date-control-button:hover {
    filter: contrast(80%);
}

.react-datepicker__time-list-item--disabled {
    display: none;
}
