/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nanum Gothic", sans-serif;
}

.ci-background {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 84px;
    height: 48px;
    background-color: #123456;
    background-image: url("../public/CI.png");
    background-repeat: no-repeat;
    background-size: 84px 48px;
}

.user {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    height: 55px;
    background-color: #123456;
}

.user button {
    cursor: pointer;
    padding: 2px 4px;
    border-radius: 4px;
    margin-right: 10px;
    border: none;
    background-color: darkolivegreen;
    color: lightcyan;
    transition: background-color 0.3s;
}

.user button:hover {
    background-color: lightslategray;
}

.landing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.landing input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    height: 32px;
    font-size: clamp(1rem, 2vw, 1.2rem);
    border: 0px;
    border-radius: 1ch;
    padding-left: 1vw;
    margin: 5vh 0px;
    background-color: lightgrey;
}

.landing h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 10vh;
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-weight: 800;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 1vh;
    background-color: grey;
    color: #123456;
    border-radius: 1ch;
}

.landing h3 {
    line-height: 3vh;
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-weight: 400;
    color: whitesmoke;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
}

.landing button {
    cursor: pointer;
    padding: 10px 10px;
    width: 50%;
    border-radius: 1ch;
    font-size: clamp(1rem, 2vw, 1.2rem);
    border: none;
    transition: background-color 0.3s;
}

.landing button:hover {
    background-color: lightslategray;
}

.login-toggle {
    margin-right: 10px;
    color: green;
}

.SingleSite,
.AllSites {
    width: 100%;
    width: 90vw;
    height: 90vh;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 5px;
}
