/* web-font: noto sans korean */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;700&display=swap');

/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Nanum Gothic", sans-serif; */
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -0.02em;
}

.ci-background {
    /* position: absolute; */
    /* top: 5px;
    left: 5px; */
    width: 84px;
    height: 48px;
    background-color: #123456;
    background-image: url("../public/CI.png");
    background-repeat: no-repeat;
    background-size: 84px 48px;
}

.user {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
    height: 75px;
    background-color: #143756;
}

.control-btns {
    display: flex;
    gap: 20px;
    margin-right: 10px;
}

.user button {
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 4px;
    /* margin-right: 10px; */
    border: none;
    /* background-color: darkolivegreen; */
    background-color: #fab104;
    font-weight: 600;
    color: #12273d;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.user button:hover {
    background-color: #fbd34f;
    /* color: white; */
}

.landing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.SingleSite,
.AllSites {
    width: 100%;
    width: 90vw;
    height: 90vh;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 5px;
}
